.contflex{ 
    display: flex;

}
.image{ 
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 100px;
}
.div{ 
    display: flex;
    gap: 100px

}
.text{ 
    width: 800px;
    margin-top: 40px;

}
.maindiv{
    padding: 40px 0;
}
.role{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.linkArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    transition: 335ms;
    &:hover {
      background-color: rgb(241, 158, 43);
    }
  }
  .btn{
    background-color: rgb(241, 158, 43);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 335ms;
    margin-top: 20px;
    &:hover {
      background-color: rgb(207, 141, 48);
    }
  }
  .btndiv{ 
    display: flex;
    gap: 40px; 
    align-items: center;
  }
  
  .icon{
    width: 30px;
    height: 30px;
  }
  .link{
    background-color: rgb(241, 158, 43);
    color: black;
    border: none;
    border-radius: 30px;
    padding: 7.4px 25px;
    font-size: 20px;
    cursor: pointer;
    transition: 335ms;
    margin-top: 20px;
    &:hover {
      background-color: rgb(207, 141, 48);
    }
  }
.info{ 
  width: 300px;
}
@media screen and (max-width: 1279.43px) {
    .image{ 
        width: 200px;
        height: 300px;
        margin-right: 50px;
    }
    .text{ 
        width: 500px;
    }
    .title{
        font-size: 25px;
    }
    .role{
        font-size: 18px;
    }
    .linkArrow {
        width: 60px;
        height: 30px;
        margin: 0 0 20px 30px;
      }
      .btn{
        padding: 5px 10px;
        font-size: 18px;
        margin-top: 10px;
      }
      .btndiv{ 
        gap: 30px; 
      }
      .date{
        font-size: 18px;
      }
      .icon{
        width: 25px;
        height: 25px;
      }
      .link{
        padding: 3.4px 15px;
        font-size: 18px;
        margin-top: 10px;
      }
   
}
/* Phone BREAKPOINTS */

@media screen and (max-width: 767.234px) { 
    .image{ 
        width: 150px;
        height: 220px;
        margin-right: 20px;
    }
    .text{ 
        width: 300px;
    }
    .title{
        font-size: 16px;
    }
    .role{
        font-size: 14px;
    }
    .linkArrow {
        width: 50px;
        height: 25px;
        margin: 0 0 20px 20px;
      }
      .btn{
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 10px;
      }
      .btndiv{ 
        gap: 20px; 
      }
      .date{
        font-size: 14px;
      }
      .icon{
        width: 20px;
        height: 20px;
      }
      .link{
        padding: 3.4px 15px;
        font-size: 14px;
        margin-top: 10px;
      }
}

.countryInfo {
  font-family: Arial, sans-serif;
  margin: 20px;
  display:  flex;
  
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

span {
  margin-left: 10px;
}

.flag {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}
