.container { 
        width: 240px;
        height: 300px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.container:hover{ 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    scale: 1.05;
}
.image{ 
    width: 100%;
 height: 160px;
 object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.title{ 
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 8px;
}
.info{ 
    padding: 5px 8px;
}
.rating{ 
    margin-bottom: 10px;
}
.divIcon{ 
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
}
.icon{ 
    width: 45px;
    height: 45px;  
    fill: rgb(176, 168, 168); 
    transition: 0.4s;
    &:hover{ 
        fill: red;
    }
    &:focus{ 
        fill: red;
    }
}

.active{ 
    fill: red;
}   


@media screen and (max-width: 1279.43px) {
   .title{
         font-size: 18px;
    }
     .divIcon{
          width: 40px;
          height: 40px;
    }
    .container{ 
        width: 220px;
    }
}
/* Phone BREAKPOINTS */

@media screen and (max-width: 767.234px) { 
    .divIcon{
        width: 35px;
        height: 35px;
    }
    .container{ 
        width: 200px;
    }
    .title{ 
        font-size: 16px;
    }
    .rating{ 
        font-size: 14px;
    }
    .image{ 
        height: 280px;
    }
    .data{ 
        font-size: 12px;
    }
}