body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none ;
}

img {
  display: block;
  max-width: 100%;
  background-size: cover;
}

a{
   text-decoration: none;
   color: black;  
}

.container { 
  max-width: 1440px;
  padding: 0 75px ;
  margin: 0 auto;
}
main{ 
  background-color: aliceblue;
}


/* Responsive */

/* TABLER BREAKPOINTS */

@media screen and (max-width: 1279.43px) {
  .container {
    padding: 0 30px;
    max-width: 768px;
  }
}
/* Phone BREAKPOINTS */

@media screen and (max-width: 767.234px) {
  .container {
    padding: 0 15px;
    max-width: 420px;
  }
  
}